doctype html
html(lang="es")
    head
        title Examen Primer Parcial
        meta(charset="UTF-8")
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        block contenido