extends ./layouts/main.jade
block contenido
    div(class="container")
        form(id="login", method="POST", action="/login")
            div(class="row")
                div(class="col-md-2")
                    label(for="usuario") Usuario:
                div(class="col-md-10")
                    input(class="form-control", type="text", name="usuario", id="usuario")
            div(class="row")
                div(class="col-md-2")
                    label(for="password") Password:
                div(class="col-md-10")
                    input(class="form-control", type="password", name="password", id="password")
            div(class="row")
                div(class="col-md-2")
                    label(for="num") Num. Seguridad:
                div(class="col-md-10")
                    input(class="form-control", type="text", name="num", id="num")
            div(class="row")
                input(type="submit", value="Iniciar Sesión", class="btn btn-primary")